.button {
  padding: 0 50px;
  height: 68px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  

  border-radius: 15px;
  background-color: #222222;
  color: #F0F0F0;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s ease 0s;

  font-size: 36px;
  line-height: 44px;
  text-align: center;

  @media (max-width: 359px) {
    font-size: 24px;
  }

  @media (min-width: 768px) {
    &:hover {
      background-color: #3c3c3c;
    }
  }
  &:active {
    background-color: #5c5c5c;
  }
}