.header {
  max-width: 1442px;
  width: 100%;
  min-height: 132px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-color: #777777;
  color: #F0F0F0;
  border-radius: 15px;

  font-size: 96px;
  line-height: 1.2;
  text-transform: uppercase;

  @media (max-width: 1024px) {
    font-size: 56px;
  }

  @media (max-width: 767px) {
    font-size: 40px;
  }
}